*.pickle
__pycache__/create_sentiment_featuresets.cpython-36.pyc
neg1.txt
pos1.txt
checkpoint
*.model.data-00000-of-00001
*.model.index
*.model.meta
*.gz
*.npy
log/*
__pycache__/*
mnist/*
venv/*
submission-file.csv
*.pyc
Halite3_Python3_Linux-AMD64/models/*
Halite3_Python3_Linux-AMD64/logs/*
/LANLEarthquakePrediction/cat_feature_index.8e94807c-6f002e1-89505e33-887f66be.tmp
/LANLEarthquakePrediction/catboost_info
*.suo
/LANLEarthquakePrediction/DNNRegressors
/TMBD/DNNRegressors
*.h5
/EURUSD/Keras
*.hdf5
*.tmp
/EURUSD/catboost_info